<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.researchapp">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUpScreen"></activity>
        <activity
            android:name=".MessageScreen"
            android:label="@string/title_activity_message_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BillingScreen"
            android:label="@string/title_activity_billing_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScheduleScreen"
            android:label="@string/title_activity_schedule_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PropertiesScreen"
            android:label="@string/title_activity_properties_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeScreenHost" />
        <activity android:name=".ChooseRole" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".OpeningScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>