<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.researchapp">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Listings"/>
        <activity android:name=".MessageScreen" />
        <activity
            android:name=".terms_and_conditions_page"
            android:label="@string/title_activity_terms_and_conditions_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CleanersHomeScreen" />
        <activity android:name=".Contacts" />
        <activity android:name=".SignUpScreen" />
        <activity
            android:name=".BillingScreen"
            android:label="@string/title_activity_billing_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScheduleScreen"
            android:label="@string/title_activity_schedule_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PropertiesScreen"
            android:label="@string/title_activity_properties_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeScreenHost" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".UploadNewPropertyScreen" />
        <activity android:name=".OpeningScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>