html, body {
text-align: center;
}
p {text-align: center;}

body {
	margin: 0;
	padding: 0;
	background: #000000;
	text-align: center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-image: url(images/ivybackground.jpg);
	
}

*
{
  margin: 0 auto 0 auto;
 text-align:center;}


#header
{
background:#339933
text-align:center;
}

#header .logo
{
height:72px;
width:72px;
background-image:url(images/OurLogo.png);
background-repeat:no-repeat;
float:center;
margin-left:23px;
}

#header .boxed
{
color:#000000;
float: center;
font-size:34px;
width:100%;
background:#ffffff;
line-height:normal;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
text-align: center;
position: relative;
}
#bottomContent
{
clear:both;
position:relative;
height:300px;
float:left;
padding:20px;
width:30px;
}

#bottomContent .navColumn
{
margin-left:0px;
width:430px;
float:left;
}



#bottomContent .navColumn .link
{
width:369px;
height:65px;
line-height:65px;
font:Arial, Helvetica, sans-serif;
font-size:30px;
background:#ffffff;
padding-left:50px;
}

#bottomContent .navColumn .link:hover
{
background:#ffffff;
background-repeat:no-repeat;
}

a
{

color:#000000;
font-weight:bold;
text-decoration:none;
}

a:hover
{
background:#ffffff;
color:#000000;
text-decoration:none;
font-weight:bold;
border-bottom:dotted 1px;
}

.article {
  right: 200px
  position: relative;
  padding: 20px;
  width: 70%;
  background:#ffffff;
  height: 250px; 
}



#bottomContent .contentColumn
{
float:left;
margin-left:0px;
width:550px;
}


.contentTop
{
width:519px;
height:29px;
background-repeat:no-repeat;
background-image:url
}

.contentBottom
{
width:519px;
height:29px;
background-repeat:no-repeat;
margin-bottom:15px;
}


.contentMain
{
width:489px;
height:auto;
float:left;
background-repeat:no-repeat;
background-image:url(images/contentBoxBack.png);
background-repeat:repeat-y;
padding-left:18px;
padding-right:12px;
}

.contentMain h1
{
margin-left:30px;
font-size:21px;
line-height:normal;
margin-bottom:10px;
font-weight:bold;
color:#071027;
}


.comments
{
font-size:11px;
font-style:italic;
padding:10px;
margin-left:25px;
}


#bottomContent #navBottom{
clear:both;
width:419px;
height:20px;

background-repeat:no-repeat;
float:left;
}

.contentTitle
{
width:700px;
height:44px;
margin-top:20px;
margin-left:25px;
margin-right:25px;
background-repeat:no-repeat;
}

.contentTitle h1
{
margin-left:21px;
padding-top:8px;
font-size:17px;
font-weight:bold;
color:#071027;
}


.contentText
{
width:680px;
padding-left:30px;
padding-right:30px;
font-size:13px;
color:#030712;
line-height:30px;
}


#footer {
width: 750px;
height:49px;
background: #ffffff;
text-align:center;
font-size:9px;
color:#223F8D;
padding-top:36px;
}

h4
{
color:#777B2B;
font-size:9px;
text-align:center;
}

html, body {
text-align: center;
}
p {text-align: center;}
